body {
  padding-top: 50px;
  padding-bottom: 20px; }

* {
  box-sizing: border-box; }

#quadro-saida {
  display: block;
  max-height: 400px;
  min-height: 20vh;
  overflow: auto; }

/*# sourceMappingURL=style.css.map */
